# dependencies
/node_modules
/.pnp
.pnp.js

# local env files
.env*.local
.env

# artifacts and cache
cache/*
artifacts/*

# misc
.DS_Store
*.pem


node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
